#img-bg{
    
    background-image: url('https://i.ibb.co/mHKZW4k/entrar.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}